/* =============
    Header
============= */
header {
    //padding: 10px;
    position: fixed;
    width: 100%;
    
    //cant do padding up here bc width 100%
    background-color: $black;
    z-index:500;
    // nav {
    //     i {
    //         font-size: rem-calc(30);
    //         margin-top: 8px;
    //     }
    // }


}
