/* =============
    Header
============= */
header{
    background-color: $headerbg;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    >div{
        padding: 10px;
    }
}
